#index{
    background-image: url("../images/2094221-astratto-sfocato-ristorante-sfondo-gratuito-foto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.divInTheMiddle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
                